.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.logoAnimationContainer {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  max-width: var(--max-width);
  width: 100%;
}

.descriptionContainer {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
}

.descriptionContainer h1, 
.descriptionContainer h2,
.descriptionContainer h3,
.descriptionContainer h4,
.descriptionContainer h5,
.descriptionContainer h6  {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}


.descriptionContainer p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}


